
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ion-icon {
    font-size: 20px;
    padding: 10px 4px 10px 0;
}

/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    z-index: 999;
}


.background-nav {
    width: 35rem;
    height: auto;
    background-color: #13161F;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-navbar {
    width: 15rem;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff3a3aa6;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.text-play {
    display: flex;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
}

.play-navbar:hover {
    background: #646464a6;
}

.nav-links ul li {
    margin: 5px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #FF4654;
}

.logo img {
    height: 40px;
}

.user-profile img {
    padding: 5px;
    height: 27px;
}

.user-profile span {
    font-weight: bold;
    font-size: 14px;
}

.img-bar {
    display: flex;
    aspect-ratio: 6/6;
    width: 30px;
}

.navbar-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.button0 {
    display: flex;
    width: 34px;
}

.button0:hover {
    cursor: pointer;
    transform: translate(5px, 0px);
    transition-duration: .2s;
}

.button-text {
     width: 100%;
    font-size: 1rem;
    display: flex;
    font-family: 'Inter', sans-serif;
}

.navbar-miss {
   width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.nav-bar-vlrt {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.point-nav {
    display: flex;
    padding: 0 0rem 0 0.9rem;
}

.settings-nav {
    display: flex;
    justify-content: center;
    padding: 0 11px 0 11px;
}

.settings {
    font-size: 30px;
}

.icons-miss {
    display: flex;
    align-items: center;
    width: 20px;
    padding: 2px;
}

.itens-navbar {
    display: flex;
    align-items: center;
}

.user-profile {
    width: 100%;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Fim Navbar */

/* NavbarProfile */

.navbar-profile {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
    color: white;
    cursor: pointer;
}

.nav-bar-vlrt-bar {
    width: 100%;
    height: 100%;
    padding: 3px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #303b46;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
}

.itens-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-profile {
    width: 45px;
}

.people {
    width: 45px;
    height: 45px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #303540;
}

/* Fim NavBarProfile */