body {
  background: url("../img/Battle\ Pass\ Glitches.gif") no-repeat center;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Main Store */
.card-store-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 0 0;
}

.content-store {
  max-width: 100%;
  display: flex;
}

.text-store-h1 {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 20px;
  gap: 10px;
}

.text-store-h2 {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 6rem;
  padding: 60px 20px 0 20px;
}

.text-store-p {
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 12rem 20px 0 20px;
}

.span-store {
  color: #efe572f9;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

.img-store {
  max-width: 100%;
  width: 68rem;
  border: 1px solid #fff;
}

/* Fim Store */

/* OFFER */
.card-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content-offer {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 5px;
  height: 28px;
  border-inline: 1px solid #fff;
  background-color: #141d28bc;
}

.text-offer-h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.text-offer-span {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px;
}

.text-offer-h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

hr {
  width: 35rem;
}

/* Fim Offer */

/* Card Arms */
.cards-arms {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.card {
  max-width: 100%;
  width: 250px;
  height: 140px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.335);
  transition: all 0.3s;
  border-bottom: 1px solid #ffffff30;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.img0 {
  width: 100%;
  aspect-ratio: 10/3;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  z-index: -10;
}

.card:hover {
  transform: scale(1.1);
}

.text-arms-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 10px 4px;
}

.text-arms-h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.text-arms-h2 {
  width: 100%;
  display: flex;
  padding: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  gap: 3px;
}

.text-arms-p {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* Fim Arms */
